/* Login Page CSS */

.user-name{
	padding: 0 !important ;
	padding-left: 5px;
	padding-top: 15px !important;
	text-align: center;
}

.user-name>.a {
	color: #fff !important;
	margin: 0 !important;
	padding: 5px!important;
}

.user-name>a:hover, a:focus {
	color: #000 !important;
}

.nav.navbar-right {
	padding-bottom: 10px;
	padding-top: 5px;
}

.nav.navbar-nav>.navbar-link {
	border-radius: 5px;
	color: #fff;
	margin-top: 15px;
	padding: 8px;
}

.nav.navbar-nav>.navbar-link:focus, .navbar-link:hover {
	background: #3071a9;
	color: #fff;
}

.nav.navbar-nav>.li a {
	margin-right: 5px;
}

.nav.navbar-right li>.btn {
	color: #fff !important;
	margin-top: 5%;
}

.nav.navbar-right li>.btn-danger:hover, .btn-danger:focus {
	background-color: darken(#d9534f,20%) !important;
}

.nav.navbar-right li>.btn-primary:hover, .btn-primary:focus {
	background-color: darken(#428bca,20%) !important;
}

.nav.navbar-right li>.btn-primary:visited, .btn-danger:visited {
	color: #fff;
}

.btn-login{
	width: auto;
	color: #fff;
	border: 1px solid #2ecc71;
	background-color: #2ecc71;
	margin-top: 10px;
}

.btn-login:hover{
	background-color: #27ae60;
	border-color:  #27ae60;
	color: #fff;
}

.main-page-features{
	list-style:none;
	margin: auto;
	padding: auto;
}

.center{
	text-align: center;
}

login-main-page{
	float:right;
}

/* Footer CSS */

.footer-space{
	padding-top: 50px;
}