/* Login Page CSS */

body{
	background-color: #3498db;
	color: #fff;
	font-family: "Open Sans"
}

.navbar{
	border-radius: 0px;
	border: 1px solid #2980b9;
	background-color: #2980b9;
}

.navbar-default, .navbar-brand{
	color: #fff !important;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-link{
	color: #fff !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background-color: #2980b9;
}

.dropdown-menu>li>a {
	background-color: #85c525;
	color: #fff;
}

.dropdown-menu:hover, .dropdown-menu>li>a:hover{
	background-color: #aad662;
	border-color: #aad662;
	color: #fff;
}

.dropdown-menu{
	border: 1px solid #85c525;
	background-color: #85c525;
}

.search-field{
	color: #000 !important;
}

.custom-jumbotron{
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 48px;
	padding-bottom: 48px;
	background-color: #2980b9;
	color: #fff;
	margin-bottom: 50px;
}

.checkbox-form-label{
	margin-top: 30px;
	color: #24323d !important;
}

.main-form{
	margin-top: 10%;
	padding-top: 30px;
	padding-bottom: 35px;
}

.form-title{
	color: #000;
	text-align: center;
}

.btn-signin{
	width: 100%;
	color: #fff;
	border: 1px solid #85c525;
	border-radius: 0px !important;
	background-color: #85c525;
	margin-top: 10px;
}

.btn-signin:hover{
	background-color: #aad662;
	border-color: #aad662;
	color: #fff;
}

.form-control{
	border-radius: 0px !important;
}

.panel{
	border-radius: 0px !important;
	padding-top: 10px !important;
}

.edit-profile-labels{
	color: #24323d !important;
}

.panel-body > p > a :hover{
	text-decoration: none !important;
}

.user-name{
	padding: 0 !important ;
	padding-left: 5px;
	padding-top: 15px !important;
	text-align: center;
}

.user-name>.a {
	color: #fff !important;
	margin: 0 !important;
	padding: 5px!important;
}

.user-name>a:hover, a:focus {
	color: #000 !important;
}

.btn-login{
	width: 125px;
	color: #fff;
	border: 1px solid #85c525;
	border-radius: 0px;
	background-color: #85c525;
	margin-top: 10px;
}

.btn-login:hover{
	background-color: #aad662;
	border-color: #aad662;
	color: #fff;
}

.main-page-features{
	list-style:none;
	margin: auto;
	padding: auto;
}

.center{
	text-align: center;
}

.login-main-page{
	float:right;
}

/* Footer CSS */

.footer-space{
	padding-top: 50px;
}

/*Sign up page*/

.padding-zero{
	padding-left: 0px;
	padding-right: 0px;
}

/**/

.unique-organization-css{
	font-weight: bold;
	
}

.table th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #fff;
}

.table tr{
	border-top: 1px solid #fff;
}

.customer-show-table>tbody>tr>td>a{
	text-decoration: none !important;
	color: #fff !important;
}

.page-header{
	border-bottom: 0px !important;
}